#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-list {
  height: 280px;
  width: 340px;
  overflow: scroll;
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
}

#todo-form input {
  padding: 10px;
  height: 30px;
  width: 340px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  border-bottom: 2px solid ghostwhite;
  color: ghostwhite;
}
#todo-form input::-webkit-input-placeholder {
  color: ghostwhite;
}
#todo-form input::-moz-placeholder {
  color: ghostwhite;
}
#todo-form input::placeholder {
  color: ghostwhite;
}
#todo-list::-webkit-scrollbar {
  display: none;
}
#todo-list i {
  margin-left: 10px;
}
#todo-list i:hover {
  cursor: pointer;
}
.todo__span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 60px;
}
